.App {
    width: 80vw;
    margin: 0 auto;
}
.table_header {
    display: flex; 
    gap: 1vw;
    justify-content: space-between;
    margin-bottom: 2vw;
}
.table_wrapper {
    display: flex;
    flex-direction: column;
    gap: .5vw;
}